{% extends 'Juanber84ScheduleBundle::layout.html.twig' %}

{% block body -%}
    <h4 class="text book inline"><span class="icon group color theme "></span> Users list</h4> 
    <table class="records_list">
        <thead>
            <tr>
                         <th>{{ knp_pagination_sortable(pagination, 'Username', 'a.username') }} </th>               
                         <th>{{ knp_pagination_sortable(pagination, 'Email', 'a.email') }} </th>                              
                         <th>{{ knp_pagination_sortable(pagination, 'Enabled', 'a.enabled') }} </th>                            
                         <th>{{ knp_pagination_sortable(pagination, 'Roles', 'a.roles') }} </th>                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>

                <td><a href="{{ path('schedule_user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.enabled }}</td>
                <td>{#{ entity.roles }#}
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('schedule_user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('schedule_user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{knp_pagination_render(pagination)}}
    </div>

        <ul>
        <li>
            <a href="{{ path('schedule_user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
