{% extends 'Juanber84ScheduleBundle::layout.html.twig' %}

{% block body -%}
    <h4 class="text book inline"><span class="icon pencil color theme "></span> Jobs list</h4>

    <div class="column_10">
        <form method="post" action="{{path('schedule_jobs')}}">
            {{ form_errors(form) }}

            <div class="column_3">
                {{ form_label(form.Proyect) }}
                {{ form_errors(form.Proyect) }}
                {{ form_widget(form.Proyect) }}
            </div>

            <div class="column_3">
                {{ form_label(form.Activity) }}
                {{ form_errors(form.Activity) }}
                {{ form_widget(form.Activity) }}
            </div>
            <div class="column_3">
                {{ form_label(form.User) }}
                {{ form_errors(form.User) }}
                {{ form_widget(form.User) }}
            </div>

            <div class="column_4">
                {{ form_label(form.Init) }}
                {{ form_errors(form.Init) }}
                {{ form_widget(form.Init, {'attr': {'class': 'datepicker'}}) }}
            </div>
            <div class="column_1 ">
                &nbsp;
            </div>   
            <div class="column_4 ">
                {{ form_label(form.End) }}
                {{ form_errors(form.End) }}
                {{ form_widget(form.End, {'attr': {'class': 'datepicker'}}) }}
            </div>        
            <div class="column_4 ">
                <Button type="submit" />Filter</button>
                <a class="button secondary" href="{{path('schedule_jobs')}}">Clean</a>
            </div>              
        {{ form_rest(form) }}

        {{ form_end(form) }}
    </div>

    <div class="column_9">

        <table class="records_list">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }} </th>                      
                    <th>{{ 'User' }} </th>              
                    <th>{{ knp_pagination_sortable(pagination, 'Initdatetime', 'a.initdatetime') }} </th> 
                    <th>{{ knp_pagination_sortable(pagination, 'Enddatetime', 'a.enddatetime') }} </th>  
                    <th>{{ 'Proyect' }} </th>
                    <th>{{ 'Activity' }} </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr>
                    <td><a href="{{ path('schedule_jobs_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.userid }}</td>
                    <td>{% if entity.initdatetime %}{{ entity.initdatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.enddatetime %}{{ entity.enddatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.proyectid }}</td>
                    <td>{{ entity.activityid }}</td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('schedule_jobs_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('schedule_jobs_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{knp_pagination_render(pagination)}}
        </div>
            <br>
            <ul>
            <li>
                <a class="button secondary" href="{{ path('schedule_jobs_new') }}">
                    Create a new entry
                </a>
            </li>
        </ul>
    </div>

    {% endblock %}
