{% extends 'Juanber84ScheduleBundle::layout.html.twig' %}

{% block body -%}
    <h4 class="text book inline"><span class="icon pencil color theme "></span> Jobs list</h4>

    <div class="column_9">

    </div>

    <div class="column_9">

        <table class="records_list">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }} </th>                      
                    <th>{{ 'User' }} </th>              
                    <th>{{ knp_pagination_sortable(pagination, 'Initdatetime', 'a.initdatetime') }} </th> 
                    <th>{{ knp_pagination_sortable(pagination, 'Enddatetime', 'a.enddatetime') }} </th>  
                    <th>{{ 'Proyect' }} </th>
                    <th>{{ 'Activity' }} </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr>
                    <td><a href="{{ path('schedule_jobs_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.userid }}</td>
                    <td>{% if entity.initdatetime %}{{ entity.initdatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.enddatetime %}{{ entity.enddatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.proyectid }}</td>
                    <td>{{ entity.activityid }}</td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('schedule_jobs_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('schedule_jobs_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{knp_pagination_render(pagination)}}
        </div>
            <br>
            <ul>
            <li>
                <a class="button secondary" href="{{ path('schedule_jobs_new') }}">
                    Create a new entry
                </a>
            </li>
        </ul>
    </div>

    {% endblock %}
