{% extends 'Juanber84ScheduleBundle::layout.html.twig' %}

{% block body -%}

    <h4 class="text book inline"><span class="icon pencil color theme "></span> Jobs </h4>    

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Initdatetime</th>
                <td>{{ entity.initdatetime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Enddatetime</th>
                <td>{{ entity.enddatetime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Observations</th>
                <td>{{ entity.observations }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('schedule_jobs') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('schedule_jobs_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('schedule_jobs_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
