{% extends 'Juanber84ScheduleBundle::layout.html.twig' %}

{% block body -%}

    <h4 class="text book inline"><span class="icon folder-close color theme "></span> Proyects </h4>    

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>{{ entity.details }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a class="button secondary" href="{{ path('schedule_proyects') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a class="button secondary" href="{{ path('schedule_proyects_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('schedule_proyects_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
