{% extends 'Juanber84ScheduleBundle::layout.html.twig' %}


{% block clock %}
        <script>
            $(function() {
                $( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
                var clock = $('.your-clock').FlipClock({
                    // ... your options here
                });
                clock.setTime({{totaltrabajado}});
            });
        </script> 
{% endblock %}
   

{% block body -%}
    <h4 class="text book inline"><span class="icon laptop color theme "></span> Punch </h4>
    
    <br><br>
    {% if inittime != '' %}
        <div class="your-clock"></div>
    {% endif %}
    <br><br>
    <form action="" method="post">
    <div class="column_9">
    	<span class="icon folder-close"></span> Projects <br><br>
    	<ul>
    	{% for project in projects %}
    		<li>
    			{% if job.proyectid.id is defined and project.id == job.proyectid.id %}
    				<input type="radio" name="punch[project]" checked="checked" value="{{project.id}}"> {{project.name}}    			
    			{% else %}
    				<input type="radio" name="punch[project]" value="{{project.id}}"> {{project.name}}    			
    			{% endif %}
    		</li>
    	{% endfor %}
    	</ul>
    </div>
    <br><br><br><br>
    <div class="column_9">
    	<span class="icon exchange"></span> Activities <br><br>
    	<ul>
    	{% for activity in activities %}
    		<li>
    			{% if job.activityid.id is defined and activity.id == job.activityid.id %}
    				<input type="radio" name="punch[activity]" checked="checked" value="{{activity.id}}"> {{activity.name}}  			
    			{% else %}
    				<input type="radio" name="punch[activity]" value="{{activity.id}}"> {{activity.name}}    			
    			{% endif %}    			
    		</li>
    	{% endfor %}
    	</ul>    	
    </div>
    <br><br><br><br>	{% if job.proyectid.id is defined %}
	<div class="column_9">
		<textarea name="punch[observations]"></textarea> 			
	</div>
	<br>
	{% endif %}        
    <div class="column_9">
    	<br>
		{% if job.proyectid.id is defined %}
			<button type="submit" style="width:50%;height: 200px;">Fin</button> 			
		{% else %}
    		<button type="submit" style="width:50%;height: 200px;">Inicio</button>   			
		{% endif %}    	
    </div>
    </form>

{% endblock %}
