{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="column_9">
	<div class="column_3 offset_3">
	{% if error %}
	    <div><strong style="color:#e74c3c">{{ error|trans }}<strong></div>
	{% endif %}		
	<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'Username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}"/>

    <label for="password">{{ 'Password'|trans }}</label>
    <input type="password" id="password" name="_password" />

    <input type="submit" class="button large alert margin-top" id="_submit" name="_submit" value="Enter" />
    </div>
</form>
</div>
{% endblock fos_user_content %}