{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Project list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <td><input type="checkbox"></td>                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }} </th>                <th>{{ knp_pagination_sortable(pagination, 'Name', 'a.name') }} </th>                <th>{{ knp_pagination_sortable(pagination, 'Details', 'a.details') }} </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td><input type="checkbox"></td>
                <td><a href="{{ path('admin_projects_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.details }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_projects_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_projects_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{knp_pagination_render(pagination)}}
    </div>

        <ul>
        <li>
            <a href="{{ path('admin_projects_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
