<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedulejob</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	{% stylesheets 'bundles/juanber84schedule/css/*' filter='cssrewrite' %}
    	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
    <style>
        aside > header .logo {
            margin-top: 10px;
            max-height: 30px; }

        aside footer img {
          height: 16px;
          position: relative;
          top: 5px;
          left: 2px; }

        .thumb {
            height: 96px;
            margin-bottom: 2.5em;
            text-align: center;
            line-height: 96px;
        }
        .column_4.thumb {
            height: 220px;
            line-height: 220px;
        }
    </style>
</head>
<body data-tuktuk="boxes">

    <aside class="column_3">
        <header class="bck theme text center ">

        </header>
        <article class="bck dark scroll">
            <nav data-tuktuk="menu" class="text bold">
        	{% set menu = app.request.attributes.get('_route') %}
			{% if menu == 'schedule_jobs' or menu == 'schedule_jobs_new' or menu == 'schedule_jobs_edit' %}
                <a href="{{path('schedule_jobs')}}" class="active"><span class="icon pencil"></span>Jobs</a>
			{% else %}
                <a href="{{path('schedule_jobs')}}" ><span class="icon pencil"></span>Jobs</a>
			{% endif %}      
			{% if is_granted('ROLE_ADMIN') %}  	
				{% if menu == 'schedule_proyects' or menu == 'schedule_proyects_new' or menu == 'schedule_proyects_edit' %}
	                <a href="{{path('schedule_proyects')}}" class="active"><span class="icon folder-close"></span>Proyects</a>
				{% else %}
	                <a href="{{path('schedule_proyects')}}"><span class="icon folder-close"></span>Proyects</a>
				{% endif %}     
				{% if menu == 'schedule_activitys' or menu == 'schedule_activitys_new' or menu == 'schedule_activitys_edit' %}
	                <a href="{{path('schedule_activitys')}}" class="active"><span class="icon exchange"></span>Activities</a>
				{% else %}
	                <a href="{{path('schedule_activitys')}}"><span class="icon exchange"></span>Activities</a>
				{% endif %}     
				{% if menu == 'schedule_user' or menu == 'schedule_user_new' or menu == 'schedule_user_edit' %}
	                <a href="{{path('schedule_user')}}" class="active"><span class="icon group"></span>Users</a>
				{% else %}
	                <a href="{{path('schedule_user')}}"><span class="icon group"></span>Users</a>
				{% endif %}  
			{% endif %}        						
            </nav>
        </article>
        <footer class="bck dark text center">
            Fork me on <a href="https://github.com/juanber84/Schedule-symfony2" class="display inline">Github</a>
        </footer>
    </aside>

		

    <section>
        <header>
            <h3 class="on-left text thin">Job's Schedule </h3>
            <nav class="on-right">
                <a href="{{ path('fos_user_security_logout') }}"><button class="alert">Logout</button></a>
            </nav>
        </header>

        <article class="padding scroll">
            <div class="margin-bottom column_8">
				{% block body %}{% endblock %}            	
            </div>
        </article>

        <footer class="bck light">
        </footer>
    </section>


    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	{#% javascripts '@Juanber84ScheduleBundle/Resources/public/js/*' %}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %#}    

</body>
</html>
